<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.join.web.serv">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <!-- TODO make this not required again after android.hardware.camera.any is available -->
    <application
        android:name="org.join.ws.WSApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.join.ws.ui.WSActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/webserv_app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.join.ws.ui.PreferActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/webserv_app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>

        <service android:name="org.join.ws.service.WebService" />
        <service
            android:name="org.join.ws.service.WSService"
            android:exported="false" >
        </service>
    </application>

</manifest>
