<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="utils.bobo.com.boboutils">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:directBootAware="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DemosActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".file.FileEncryptorActivity"
            android:label="@string/title_activity_file_encryptor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="File/FileEncryptor" />
        </activity>
        <activity
            android:name=".jobscheduler.JobSchedulerAndThreadAndAsyncTask"
            android:label="@string/title_activity_jobscheduler_thread_asynctask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="Jobscheduler/JobSchedulerAndThreadAndAsyncTask" />
        </activity>
        <activity
            android:name=".deviceinfo.DeviceInfosActivity"
            android:label="@string/title_activity_device_infos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="DeviceInfos/CommonInfo" />
        </activity>
        <activity
            android:name=".deviceinfo.CupInfosActivity"
            android:label="@string/title_activity_cpu_infos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="DeviceInfos/Cpu Info" />
        </activity>

        <service
            android:name=".jobscheduler.TestJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".App.AppWidgetApiActivity"
            android:label="ApiTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/AppWidget/ApiTest" />
        </activity>
        <activity
            android:name=".App.WakeLockGetAndReleaseActivity"
            android:label="GetAndRelease">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/WakeLock/GetAndRelease" />
        </activity>
        <activity
            android:name=".App.LocationActivity"
            android:label="LocationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/Location/LocationDemo" />
        </activity>
        <activity
            android:name=".App.RequestOneLocationActivity"
            android:label="RequestOneLocationActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/Location/LocationDemo" />
        </activity>
        <activity
            android:name=".App.ForgegroundServiceActivity"
            android:label="ForgegroundServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/Service/ForgegroundService" />
        </activity>

        <service android:name=".App.LocationService" />
        <service
            android:name=".App.ForegroundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".App.NotificationActivity"
            android:label="NotificationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/Notification/NotificationActivity" />
        </activity>
        <activity
            android:name=".MultiApp.MainActivity"
            android:label="@string/multi_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="MultiApp/MultiAppDemo" />
        </activity>
        <activity
            android:name=".MultiApp.EnableProfileActivity"
            android:label="@string/multi_app" />

        <receiver
            android:name=".MultiApp.BasicDeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/multi_app"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/basic_device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".App.ScreenPinningActivity"
            android:label="@string/screen_pinning">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/ScreenPinning/ScreenPinning" />
        </activity>
        <activity
            android:name=".App.ShowWhenLockActivity"
            android:label="@string/show_when_lock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/SpecialActivitys/ShowWhenLockActivity" />
        </activity>
        <activity
            android:name=".SimpleWebServerProxy"
            android:label="SimpleWebServer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="Web/SimpleWebServer" />
        </activity>
        <activity
            android:name=".App.DynamicViewPageActivity"
            android:label="DynamicViewPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/ViewPage/DynamicViewPageActivity" />
        </activity>
        <activity
            android:name=".App.zombieservice.ZombieServiceStartActivity"
            android:label="ZombieService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/ZombieService/ZombieServiceStartActivity" />
        </activity>

        <receiver
            android:name=".App.SecretCodeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="5858"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
        <receiver android:name=".App.appwidget.CustomViewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_view_app_widget_info" />
        </receiver>

        <service
            android:name=".App.appwidget.UpdateAppWidgetService"
            android:exported="false" />

        <provider
            android:name=".App.appwidget.CustomViewFileProvider"
            android:authorities="utils.bobo.com.boboutils.CustomViewFileProvider"
            android:exported="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".App.RecyclerView.GridLayoutManagerActivity"
            android:label="GridLayoutManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/RecyclerView/GridLayoutManagerActivity" />
        </activity>

        <service
            android:name=".App.zombieservice.ZombieServiceFirst"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.boboutils.action.BIND_ZOMBIESERVICEFIRST" />
            </intent-filter>
        </service>
        <service
            android:name=".App.zombieservice.ZombieServiceSecond"
            android:enabled="true"
            android:exported="true"
            android:process=":ZombieServiceSecond">
            <intent-filter>
                <action android:name="com.boboutils.action.BIND_ZOMBIESERVICESECOND" />
            </intent-filter>
        </service>

        <activity
            android:name=".App.customanim.FloatingPelletsActivity"
            android:label="FloatingPellets">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/CustomAnim/FloatingPelletsActivity" />
        </activity>

        <service
            android:name=".App.TestService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".App.TestServiceActivity"
            android:label="TestServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/Service/TestServiceActivity" />
        </activity>
        <activity
            android:name=".MultiApp.MultiAppByDroidPluginActivity"
            android:label="MultiAppByDroidPluginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="MultiApp/MultiAppByDroidPluginActivity" />
        </activity>
        <activity
            android:name=".App.call.CallAudioRecordActivity"
            android:label="CallAudioRecordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/Call/CallAudioRecordActivity" />
        </activity>

        <service
            android:name=".App.call.AudioRecorderService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".App.ToastActivity"
            android:label="ToastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/Toast/ToastActivity" />
        </activity>
        <activity
            android:name=".App.WebViewActivity"
            android:label="WebViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/WebView/WebViewActivity" />
        </activity>
        <activity
            android:name=".App.customview.longdrawable.LongDrawableActivity"
            android:label="LongDrawableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/CustomView/LongDrawableActivity" />
        </activity>
        <activity
            android:name=".App.reflect.ReflectDemoActivity"
            android:label="ReflectDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/reflect/ReflectDemoActivity" />
        </activity>
        <activity
            android:name=".App.SystemOverlayActivity"
            android:label="SystemOverlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/SystemOverlay/SystemOverlayActivity" />
        </activity>
        <activity
            android:name=".CoordinatorLayoutDemoActivity"
            android:label="@string/title_activity_coordinator_layout_demo"
            android:theme="@style/CoordinatorMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/Layout/CoordinatorLayoutDemoActivity" />
        </activity>

        <service
            android:name="com.bobo.service.utils.WakeupServerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bobo.service.utils.BIND_WAKEUP_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".App.audio.AudioRecordActivity"
            android:label="AudioRecordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/Audio/AudioRecordActivity" />
        </activity>

        <service
            android:name=".App.overlay.OverlayViewService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="utils.bobo.com.boboutils.BIND_OVERLAY_VIEW_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>