<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="utils.bobo.com.boboutils">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DemosActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".file.FileEncryptorActivity"
            android:label="@string/title_activity_file_encryptor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="File/FileEncryptor" />
        </activity>
        <activity
            android:name=".jobscheduler.JobSchedulerAndThreadAndAsyncTask"
            android:label="@string/title_activity_jobscheduler_thread_asynctask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="Jobscheduler/JobSchedulerAndThreadAndAsyncTask" />
        </activity>
        <activity
            android:name=".deviceinfo.DeviceInfosActivity"
            android:label="@string/title_activity_device_infos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="DeviceInfos/CommonInfo" />
        </activity>
        <activity
            android:name=".deviceinfo.CupInfosActivity"
            android:label="@string/title_activity_cpu_infos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="DeviceInfos/Cpu Info" />
        </activity>

        <service
            android:name=".jobscheduler.TestJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".App.AppWidgetApiActivity"
            android:label="ApiTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/AppWidget/ApiTest" />
        </activity>
        <activity android:name=".App.WakeLockGetAndReleaseActivity"
            android:label="GetAndRelease">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="bobo.intent.category.DEMO_CODE" />
            </intent-filter>

            <meta-data
                android:name="path"
                android:value="App/WakeLock/GetAndRelease" />
        </activity>
    </application>

</manifest>
